/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

body {
  background: rgb(196, 22, 192);
  background: -moz-linear-gradient(
    90deg,
    rgba(196, 22, 192, 1) 0%,
    rgba(209, 18, 18, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(196, 22, 192, 1) 0%,
    rgba(209, 18, 18, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(196, 22, 192, 1) 0%,
    rgba(209, 18, 18, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c416c0",endColorstr="#d11212",GradientType=1);
}
