
  /* --primary-50: #f6f4fe;
  --primary-100: #edebfc;
  --primary-200: #dfdafa;
  --primary-300: #c6bdf5;
  --primary-400: #a997ee;
  --primary-500: #8c6ce6;
  --primary-600: #7b4dda;
  --primary-700: #7041c8;
  --primary-800: #5a31a6;
  --primary-900: #4b2a88;
  --primary-950: #2e195c;


  --secondary-50: #ebfef6;
  --secondary-100: #cffce7;
  --secondary-200: #a3f7d3;
  --secondary-300: #68edbd;
  --secondary-400: #2ddaa2;
  --secondary-500: #08c18b;
  --secondary-600: #009d72;
  --secondary-700: #007d5e;
  --secondary-800: #026a51;
  --secondary-900: #035140;
  --secondary-950: #002e25;


  --success-50: #f2fcf1;
  --success-100: #e4f8e0;
  --success-200: #c8f0c2;
  --success-300: #9ce392;
  --success-400: #68ce5a;
  --success-500: #47be37;
  --success-600: #329425;
  --success-700: #2a7421;
  --success-800: #265c1f;
  --success-900: #204c1b;
  --success-950: #0b2a09;

  --info-50: #f0f8fb;
  --info-100: #d9edf4;
  --info-200: #b7dbea;
  --info-300: #85c1db;
  --info-400: #4d9ec3;
  --info-500: #3791be;
  --info-600: #2b688f;
  --info-700: #295775;
  --info-800: #294961;
  --info-900: #263f53;
  --info-950: #152837;

  --warning-50: #fdf8ef;
  --warning-100: #fbeed9;
  --warning-200: #f6dab2;
  --warning-300: #f0c181;
  --warning-400: #e99d4e;
  --warning-500: #e4822b;
  --warning-600: #dd6d22;
  --warning-700: #b1511d;
  --warning-800: #8d401f;
  --warning-900: #72371c;
  --warning-950: #3d1a0d;


  --help-50: #fdf4ff;
  --help-100: #fbe7ff;
  --help-200: #f8cfff;
  --help-300: #f5a9fe;
  --help-400: #f075fd;
  --help-500: #e341f4;
  --help-600: #d022dd;
  --help-700: #ab18b3;
  --help-800: #8e1692;
  --help-900: #761778;
  --help-950: #4f0250;

  --danger-50: #fef2f2;
  --danger-100: #fee2e2;
  --danger-200: #fecaca;
  --danger-300: #fca5a5;
  --danger-400: #f87171;
  --danger-500: #ef4444;
  --danger-600: #df3a3a;
  --danger-700: #b91c1c;
  --danger-800: #991b1b;
  --danger-900: #7f1d1d;
  --danger-950: #450a0a;


  --contrast-50: #f7f7f8;
  --contrast-100: #eeeef0;
  --contrast-200: #d9d9de;
  --contrast-300: #b7b7c2;
  --contrast-400: #9091a0;
  --contrast-500: #737584;
  --contrast-600: #5d5e6c;
  --contrast-700: #4c4d58;
  --contrast-800: #41424b;
  --contrast-900: #393941;
  --contrast-950: #242429; */

